{# templates/calculator.html.twig #}
<header>
    <h1>Mr. Calculator</h1>
</header>
<main>
    <div>
        <input type="text" readonly name="result" class="">
    </div>
    <div class="">
        <input type="text" name="number">
    </div>
    <div>
        <button name="plus" class="">+</button>
        <button name="minus" class="">-</button>
        <button name="multiplication" class="">*</button>
        <button name="division" class="">/</button>
    </div>
    <div>
        <button name="equal" class="">=</button>
    </div>
</main>